@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Regular"),
    url("./font-files/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat SemiBold"),
    url("./font-files/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src:
    local("Fira Code Regular"),
    url("./font-files/Fira-Code/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
