@import "tailwindcss";
@import "./fonts/font.css";

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
}

:root {
  --primary: #ffffff;
  --secondary: #0d0d0d;
  --tertiary: #1e1e1e;
  --accent: #a61717;
  --muted: #747474;
  --header-bg: #121212;
  --mobile-size: 576px;
  --tablet-size: 1024px;
}